body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 5px 20px;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.list-group-item{
  border-radius: 0px !important;
}

.btn-edit img{
  vertical-align: top;
}

.btn-link{
  background-color: transparent;
  border: 1.5px solid black;
}

a.btn-edit{
  border: none !important;
  outline: none !important;
}

a.btn-edit:hover{
  border: none !important;
  outline: none !important;
}

.list-group-item.active{
  color: white !important;
  background-color: #0c1e2d !important;
  border-color: #0c1e2d !important;
}

.card-header{
  text-align: center;
}

.swal-footer{
    text-align: center !important;
  }

.swal-text{
  text-align: center !important;
}

.swal-button{
  background-color: #0c1e2d !important;
}

.swal-button:hover{
  background-color: #58251c !important;
}

.swal-icon--success__line{
  background-color: #0c1e2d !important;
}

.swal-icon--success{
  border-color: #0c1e2d !important;
}

.swal-icon--success__ring{
  border: 4px solid hsla(207,58%,11%,.3) !important;
}

.swal-title{
  color: #0c1e2d;
  font-weight: bold;
}

.swal-text{
  color: #0c1e2d;
}

.my-custom-scrollbar {
  position: relative;
  height: 480px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.card-header{
  background-color: #0c1e2d;
}