html {
  scroll-behavior: smooth;
}

.card{
	text-align: center;
}

img.logo-user{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  float: none !important;
  padding: auto;
}

img.log-1, .log-2{
  margin-right: 1rem;
}

.card-user{
  width: 300px;
  margin-bottom: 50px !important;
  display: block;
  margin: auto;
  text-align: center;
}

.col-user{
  display: block;
  margin: auto;
  text-align: center;
}


.jumbotron{
	min-height: 640px;
	color: #0c1e2d;
	margin-bottom: 0px;
	background-color: white;
}

.navbar-expand-lg{
	background-color: #f6f6f6;
	box-shadow: 0px 0px 10px #000000;
}

.row .btn{
	color: white;
	background-color: #0c1e2d;
}

.row .btn:hover{
	background: #58251C;
	border-color: #58251C;
}

.row .btn:focus{
	box-shadow: none;
}

.col-sm-8 h1{
	margin-bottom: 0px;
}

.col-sm-8{
	margin-top: 110px;
}

.col-sm-8 p{
	margin-bottom: 0px;
}

.col-sm-8 p img{
	vertical-align: sub;
}

.col-sm-4 img{
	margin-top: 80px;
	float: right;
	margin-bottom: 50px;
}

.col-sm-8 a{
	background: #0C1E2D;
    border-color: #0C1E2D;
    border-radius: 6px;
    padding: 7px 20px;
}

.col-sm-8 .btn:hover{
	background: #58251C;
	border-color: #58251C;
}

.daftarharga{
	background: #f6f6f6;
	text-align: center;
	min-height: 500px;
}

.col-sm-12 h5{
	margin-top: 140px;
	text-transform: uppercase;
	font-weight: bold;
}

.col-sm-3{
	margin-top: 70px;
}

.contactus{
	min-height: 500px;
	background: #0C1E2D;
	text-align: center;
}

.contactus h2{
	color: white;
	font-weight: bold;
	margin-top: 140px;
}

.contactus hr{
	width: 224px;
	border-top: 4px solid #707070;
}

.contactus p{
	color: white;
}

.contactus .col-sm-12 img{
	padding: 0px 20px;
	margin-top: 36px;
	transition: 0.5s;
}

.contactus .col-sm-12 img:hover{
	transform: scale(1.4);
}

.contactus .col-sm-12 a{
	color: #0C1E2D;
}

.footer{
	min-height: 250px;
	text-align: center;
}

.footer img{
	margin-top: 98px;
}

.footer p img{
	vertical-align: sub;
}

.navbar-collapse .btn{
	color: white;
    border-color: #0c1e2d;
    font-weight: bold;
    border: 3px solid #0c1e2d;
    background-color: #0c1e2d;
    border-radius: 6px;
}

.navbar-collapse .btn:hover{
	background-color: #58251c;
	border-color: #58251c;
	color: white;
}

.navbar-collapse .btn:focus{
	box-shadow: none;
}

.navbar-collapse .mr-3{
	color: #0c1e2d;
	border-color: #0c1e2d;
	font-weight: bold;
	border:3px solid #0c1e2d;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
}

.navbar-collapse .mr-3:hover{
	background-color: #0c1e2d;
	border-color: #0c1e2d;
	color: white;
}

.navbar-nav a{
	font-weight: bold;
}

.modal-header{
	display: block;
	background-color: #0c1e2d;
	color: white;
}

.modal-header .close{
	padding: 0;
	margin: 0;
	outline: none;
}

.modal-header .close:hover{
	outline: none;
}

.modal-header .modal-title{
	text-align: center;
	font-weight: bold;
	font-size: 33px;
	color: white;
	margin-left: 20px;
}

.modal-header .modal-title2{
	text-align: center;
	font-size: 15px;
	margin-bottom: 0px;
	color: white;
}

.modal-header .close{
	color: white;
}


.modal-footer .btn:focus{
	outline: none;
	box-shadow: none;
}

.modal-content a{
	text-align: center;
	margin-bottom: 10px;
}

.modal-content p{
	text-align: center;
	margin-top: 0px;
}

.modal-footer{
	justify-content: center;
}

.modal-body{
	margin-top: 25px;
}

.modal-body2{
	text-align: center;
    border: 1px;
    margin: auto;
    outline: none;
    margin-top: 20px;
}

.modal-body2 .btn{
	font-weight: bold;
	background-color: #0c1e2d;
	border-color: #0c1e2d;
	color: white;
	padding: 8px 20px;
	outline: none;
	margin-bottom: 20px;
}

.modal-body2 .btn:hover{
	background-color: #58251c;
	border-color: #58251c;
}

.modal-body2 .btn:focus{
	outline: none;
	box-shadow: none;
}

.form-group p{
	color: #0c1e2d;
	font-weight: bold;
}

p .btn-link{
	padding: 0px;
	vertical-align: initial;
}

.nav a[aria-selected="true"]{
  background-color: #0c1e2d !important;
  color: #fff !important;
}

.nav a[aria-selected="false"]{
  color: #58251c !important;
}

.dropdown .btn{
	color: grey;
	background-color: white;
	border-color: #ced4da;
}

.custom-file-label::after{
	padding: 5px;
}

.custom-file-input:lang(en)~.custom-file-label::after{
	content: "Upload";
}

// SweetAlert
// 2014 (c) - Tristan Edwards
// github.com/t4t5/sweetalert

@import "sweet-alert-animations";

body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.swal-footer{
  	text-align: center !important;
  }

.swal-text{
	text-align: center !important;
}

.swal-button{
	background-color: #0c1e2d !important;
}

.swal-button:hover{
	background-color: #58251c !important;
}

.swal-icon--success__line{
	background-color: #0c1e2d !important;
}

.swal-icon--success{
	border-color: #0c1e2d !important;
}

.swal-icon--success__ring{
	border: 4px solid hsla(207,58%,11%,.3) !important;
}

.swal-title{
	color: #0c1e2d;
	font-weight: bold;
}

.swal-text{
	color: #0c1e2d;
}

.sweet-overlay {
  background-color: fade(#000, 40%);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: none;
  z-index: @zindex-modal;
}

.sweet-alert {
  @width: 478px;
  @padding: 17px;

  background-color: @body-bg;
  width: @width;
  padding: @padding;
  border-radius: 5px;
  text-align: center;

  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -(@width / 2 + @padding);
  margin-top: -200px;

  overflow: hidden;
  display: none;
  z-index: 2000;

  @media all and (max-width: @screen-xs-max) {
    width: auto;
    margin-left: 0;
    margin-right: 0;

    left: (@grid-gutter-width / 2);
    right: (@grid-gutter-width / 2);
  }

  .form-group {
    display: none;

    .sa-input-error {
      display: none;
    }
  }
  &.show-input .form-group {
    display: block;
  }

  .sa-confirm-button-container {
    display: inline-block;
    position: relative;
  }

  .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: -9px;
    opacity: 0;
    visibility: hidden;
  }

  button {
    &[disabled] {
      opacity: .6;
      cursor: default;
    }

    &.confirm[disabled] {
      color: transparent;
      ~ .la-ball-fall {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
    }
  }

  .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;

    &.sa-error {
      border-color: @btn-danger-border;

      .sa-x-mark {
        position: relative;
        display: block;
      }

      .sa-line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: @btn-danger-bg;
        display: block;
        top: 37px;
        border-radius: 2px;

        &.sa-left {
          transform: rotate(45deg);
          left: 17px;
        }
        &.sa-right {
          transform: rotate(-45deg);
          right: 16px;
        }
      }
    }
    &.sa-warning {
      border-color: @btn-warning-border;

      .sa-body { // Exclamation mark body
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: @btn-warning-bg;
      }
      .sa-dot { // Exclamation mark dot
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: @btn-warning-bg;
      }
    }
    &.sa-info {
      border-color: @btn-info-border;

      &::before { // i-letter body
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: @btn-info-bg;
      }
      &::after { // i-letter dot
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: @btn-info-bg;
      }
    }
    &.sa-success {
      border-color: @btn-success-border;

      &::before, &::after { // Emulate moving circular line
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: @body-bg;
        transform: rotate(45deg);
      }
      &::before {
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;

        transform: rotate(-45deg);
        transform-origin: 60px 60px;
      }
      &::after {
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;

        transform: rotate(-45deg);
        transform-origin: 0px 60px;
      }

      .sa-placeholder { // Ring
        width: 80px;
        height: 80px;
        border: 4px solid fade(@brand-success, 20%);
        border-radius: 50%;
        box-sizing: content-box;

        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2;
      }

      .sa-fix {  // Hide corners left from animation
        width: 5px;
        height: 90px;
        background-color: @body-bg;

        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;

        transform: rotate(-45deg);
      }

      .sa-line {
        height: 5px;
        background-color: @btn-success-bg;
        display: block;
        border-radius: 2px;

        position: absolute;
        z-index: 2;

        &.sa-tip {
          width: 25px;

          left: 14px;
          top: 46px;

          transform: rotate(45deg);
        }
        &.sa-long {
          width: 47px;

          right: 8px;
          top: 38px;

          transform: rotate(-45deg);
        }
      }
    }
    &.sa-custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .btn-default {
    .form-control-focus(@btn-default-border);
  }
  .btn-success {
    .form-control-focus(@btn-success-border);
  }
  .btn-info {
    .form-control-focus(@btn-info-border);
  }
  .btn-danger {
    .form-control-focus(@btn-danger-border);
  }
  .btn-warning {
    .form-control-focus(@btn-warning-border);
  }

  button::-moz-focus-inner {
    border: 0;
  }
}